$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$second-color: 	#996699;
$third-color: #ad85a3;
$last-color: #8585ad;
$border: 3px solid $primary-color;
$padding: 10px;

body {
  font: $font-stack;
  }

.border {
  border: $border;
  padding: $padding;
}

h1 {
  color: $primary-color;
}
 
h2 {
  color: $second-color;
}
  
h3 {
  color: $third-color;
}
  
ul {
  color: $last-color;
}